body{
    color: white;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container{
    position: absolute;
    background-color: rgb(36, 36, 36);
    bottom: -36rem;
    left: 0;
    width: 100%;
    opacity: 0.95;
    height: auto;
    padding-bottom: 2rem;
}

.info{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2rem;
    border-top: 2px solid rgb(255, 102, 0);
}

.about{
    width: 15rem;
    position: relative;
    left: 6rem;
    top: 1rem;
}

.abt-cont{
    padding-top: 1rem;
    line-height: 2rem;
    word-spacing: 0.5rem;
}

.quick{
    position: absolute;
    right: 8rem;
    top: 1rem;
}

.qui-cont a{
    padding-top: 1rem;
    line-height: 3rem;
    position: relative;
    left: 15%;
    color: rgb(255, 131, 49);
    transition: 0.5s all;
}

.qui-cont a:hover{
    color: rgb(255, 46, 46);
}

.branch{
    position: relative;
    left: 25%;
    top: 1rem;
}

.br-cont{
    line-height: 3rem;
    position: relative;
    left: 25%;
}

.foot-hd{
    padding-bottom: 2rem;
}

.copyright{
    padding-top: 2rem;
}

.fol-box a{
    color: #FFA500;
}